{{define "about"}}
{{template "_header" .Header}}
{{template "_about" .About}}
{{template "_footer"}}
{{end}}

{{define "_about"}}
<ul class="list tl pl0 w-50 center">
{{range $_, $qa := .QandA}}
  <li>
    <h2>{{$qa.Question}}</h2>
    <p>{{$qa.Answer}}</p>
  </li>
{{end}}
</ul>
{{end}}
